/* HEADER STYLING */
#header {
	position: fixed;
	z-index: 1;
	top: 0px;
	width: 100%;
	background-color: #CCC2E4;
	display: block;
/*	border-style: solid;
	border-color: #7266E4;
	border-width: 0px 0px 3px 0px;*/
}

header {
	font-family: 'Abril Fatface', cursive;
	font-size: 45px;
	letter-spacing: 1.5px;
	display: block;
	text-align: center;
}

a {
	color: #7266E4;
}

.nav-pills .nav-link.active {
	color: white;
	background-color: #7266E4;
}

.navbar {
	display: block;
	font-size: 18px;
	letter-spacing: 1.5px;
	font-family: 'Abril Fatface', cursive;
}

#socMedia {
	text-align: center;
}

#socMedia img {
	height: 35px;
	margin: 10px 0px;
}

/* BODY STYLING */

body {
	background-image: url('../../assets/images/seigaiha.png');
	position: relative;
	overflow-y: scroll;
	/*overflow: auto;*/
	/*height: 100%;*/
}

#spacer {
	height: 180px;
	/*don't forget to change data-offset in html */
}

#main {
}

#about {
	border-width: 3px;
	background-color: #CCC2E4;
}

#portfolio {
	border-width: 3px;
	background-color: #CCC2E4;
}

.card {
	margin: 20px 10px;
}

h3.card-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 28px;
}

h4.card-title {
	font-family: 'Abril Fatface', cursive;
	font-size: 22px;
}

.card-text img {
	float: left;
    margin-right: 20px;
}

.btn-outline-primary {
    color: #7266E4;
    border-color: #7266E4;
    font-family: 'Abril Fatface', cursive;
	font-size: 18px;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #9c9c9c;

}

.btn-outline-primary:hover a{
    color: white;
    background-color: #9c9c9c;
    text-decoration: none;
}

/* FOOTER STYLING */
footer {
	/*position: fixed;*/
	/*position: absolute;*/
	bottom: 0;
	width: 100%;
	line-height: 20px;
	padding: 10px 0px;
	text-align: center;
	color: white;
	font-size: 14px;
	letter-spacing: 1.5px;
	font-family: 'Abril Fatface', cursive;
	background-color: #9c9c9c;
	border-style: solid;
	border-color: #7266E4;
	border-width: 3px 0px 0px 0px;
	display: block;
}

#copyright {
	display: block;
}
